USE [master]
GO
/****** Object:  Database [DB_TaFitri2016]    Script Date: 06/13/2016 20:12:23 ******/
CREATE DATABASE [DB_TaFitri2016] ON  PRIMARY 
( NAME = N'DB_TaFitri2016', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DB_TaFitri2016.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_TaFitri2016_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DB_TaFitri2016_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_TaFitri2016].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_TaFitri2016]
GO
/****** Object:  Table [dbo].[tbDapartement]    Script Date: 06/13/2016 20:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbDapartement](
	[kodeDapartement] [char](5) NOT NULL,
	[namaDapartement] [varchar](30) NULL,
 CONSTRAINT [PK_tbDapartement] PRIMARY KEY CLUSTERED 
(
	[kodeDapartement] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbPengaturanGaji]    Script Date: 06/13/2016 20:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPengaturanGaji](
	[idpGaji] [int] NOT NULL,
	[UMR] [float] NULL,
	[GajiHari] [float] NULL,
	[Umakan] [float] NULL,
	[Lembur] [float] NULL,
 CONSTRAINT [PK_tbPengaturanGaji] PRIMARY KEY CLUSTERED 
(
	[idpGaji] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbLogin]    Script Date: 06/13/2016 20:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbLogin](
	[username] [char](10) NULL,
	[password] [char](10) NULL,
	[iduser] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbLogin] PRIMARY KEY CLUSTERED 
(
	[iduser] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbKaryawan]    Script Date: 06/13/2016 20:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbKaryawan](
	[nikKaryawan] [char](10) NOT NULL,
	[namaKaryawan] [varchar](30) NULL,
	[kodeDapartement] [char](5) NULL,
	[jenisKelamin] [char](15) NULL,
	[status] [char](15) NULL,
	[alamat] [text] NULL,
	[nohandphone] [char](16) NULL,
	[jabatan] [varchar](20) NULL,
 CONSTRAINT [PK_tbKaryawan] PRIMARY KEY CLUSTERED 
(
	[nikKaryawan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbPenggajian]    Script Date: 06/13/2016 20:12:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbPenggajian](
	[kodTransaksi] [char](17) NOT NULL,
	[tanggalTransaksi] [date] NULL,
	[totalgaji] [float] NULL,
	[idpGaji] [int] NULL,
	[nikKaryawan] [char](10) NULL,
	[hadir] [int] NULL,
	[lembur] [int] NULL,
 CONSTRAINT [PK_tbPenggajian] PRIMARY KEY CLUSTERED 
(
	[kodTransaksi] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_tbKaryawan_tbDapartement]    Script Date: 06/13/2016 20:12:26 ******/
ALTER TABLE [dbo].[tbKaryawan]  WITH CHECK ADD  CONSTRAINT [FK_tbKaryawan_tbDapartement] FOREIGN KEY([kodeDapartement])
REFERENCES [dbo].[tbDapartement] ([kodeDapartement])
GO
ALTER TABLE [dbo].[tbKaryawan] CHECK CONSTRAINT [FK_tbKaryawan_tbDapartement]
GO
/****** Object:  ForeignKey [FK_tbPenggajian_tbKaryawan]    Script Date: 06/13/2016 20:12:26 ******/
ALTER TABLE [dbo].[tbPenggajian]  WITH CHECK ADD  CONSTRAINT [FK_tbPenggajian_tbKaryawan] FOREIGN KEY([nikKaryawan])
REFERENCES [dbo].[tbKaryawan] ([nikKaryawan])
GO
ALTER TABLE [dbo].[tbPenggajian] CHECK CONSTRAINT [FK_tbPenggajian_tbKaryawan]
GO
/****** Object:  ForeignKey [FK_tbPenggajian_tbPengaturanGaji]    Script Date: 06/13/2016 20:12:26 ******/
ALTER TABLE [dbo].[tbPenggajian]  WITH CHECK ADD  CONSTRAINT [FK_tbPenggajian_tbPengaturanGaji] FOREIGN KEY([idpGaji])
REFERENCES [dbo].[tbPengaturanGaji] ([idpGaji])
GO
ALTER TABLE [dbo].[tbPenggajian] CHECK CONSTRAINT [FK_tbPenggajian_tbPengaturanGaji]
GO
